body {
    background-color: rgba(141, 250, 254, 0.553); 
    color: #333; 
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(to bottom, #ff6b6b, #ffc8c8); 
    transition: 0.45; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #3498db;
}

form {
    margin-top: 20px;
}

label {
    color: #555;   
    text-align: start;
}

input[type="url"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #3498db; 
    border-radius: 20px; 
    transition: border-color 0.3s ease;
}

input[type="url"]:focus {
    border-color: #2980b9; 
}

button {
    background-color: #3498db; 
    padding: 12px 20px;
    width : 20%;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9; 
}
a{
    text-decoration: none;
    color: #000;
}